In [1]:
from IPython.core.display import HTML
HTML("""
<style>

div.cell { /* Tunes the space between cells */
margin-top:1em;
margin-bottom:1em;
}

div.text_cell_render h1 { /* Main titles bigger, centered */
font-size: 2.2em;
line-height:1.4em;
text-align:center;
}

div.text_cell_render h2 { /*  Parts names nearer from text */
margin-bottom: -0.4em;
}


div.text_cell_render { /* Customize text cells */
font-family: 'Times New Roman';
font-size:1.5em;
line-height:1.4em;
padding-left:3em;
padding-right:3em;
}
</style>
""")

# Упражнения

### NUMPY

<img src='../../../img/trainings1.jpg'/>

1) Импортировать `NumPy` под именем `np`

In [2]:
import numpy as np

2) Напечатать версию и конфигурацию

In [3]:
print(np.version.version)
np.show_config()

1.18.1
blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
blas_opt_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
lapack_mkl_info:
  NOT AVAILABLE
openblas_lapack_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
lapack_opt_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]

3) Создайте нулевой вектор размером 10

In [4]:
x = np.zeros(10)
x

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

4) Создать вектор размера 10, заполненный единицами

In [5]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

5) Создать вектор размера 10, заполненный нулями, но пятый элемент равен 1

In [6]:
x = np.zeros(10)
x[5] = 1
x

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

6) Создать вектор со значениями от 10 до 49

In [7]:
# np.array(range(10, 50))
np.arange(10, 50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

7) Создать и потом развернуть вектор (так, чтобы первый элемент стал последним)

In [8]:
np.arange(10)[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

8) Создать матрицу (двумерный массив) 3x3 со значениями от 0 до 8

In [9]:
np.arange(9).reshape((3,3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

9) Создать 3x3 единичную матрицу

In [10]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

10) Создать массив 3x3x3 со случайными значениями

In [11]:
np.random.random((3,3))

array([[0.40920029, 0.02757484, 0.93086738],
       [0.42611633, 0.94464333, 0.27605183],
       [0.34487313, 0.26543657, 0.45571053]])

11) Создать массив 10x10 со случайными значениями, найти минимум и максимум

In [12]:
x = np.random.random((10,10))
print(x)
print(x.min(), x.max())

[[0.27007845 0.99600434 0.12187764 0.53656831 0.59970818 0.75919122
  0.84886056 0.72555534 0.73845419 0.77047805]
 [0.7823126  0.01508924 0.06145589 0.47411838 0.36084192 0.19404559
  0.6062591  0.82077217 0.15803723 0.64342084]
 [0.25545012 0.65866754 0.03422878 0.07222553 0.20174763 0.85258079
  0.0960223  0.63910416 0.3605448  0.78778815]
 [0.09644748 0.37074123 0.42684842 0.01615677 0.37500078 0.89356537
  0.20673143 0.87900396 0.61823746 0.05324351]
 [0.12962058 0.12148484 0.46786662 0.35929156 0.55590208 0.58497294
  0.34350674 0.97243162 0.77295034 0.68313848]
 [0.48475405 0.17347972 0.12372374 0.92649302 0.41806    0.226828
  0.30515553 0.08105698 0.52830387 0.72365153]
 [0.72822143 0.83647499 0.4352695  0.35342244 0.60370537 0.936856
  0.529381   0.47602384 0.85724683 0.45901501]
 [0.83099193 0.83392604 0.02882416 0.82718034 0.82771751 0.28906324
  0.28084065 0.03653595 0.83808699 0.59027008]
 [0.55487793 0.19776723 0.82757895 0.96049726 0.11080519 0.77956729
  0.42088325 0.59056222 0.18724927 0.93930252]
 [0.21498529 0.27827061 0.55125157 0.70727644 0.14863269 0.64670931
  0.0225486  0.37121217 0.47162338 0.65515165]]
0.015089235114445487 0.9960043400850304

12) Создать случайный вектор размера 30 и найти среднее значение всех элементов

In [13]:
x = np.random.random(30)
print(x)
print(x.mean())

[0.41741101 0.43036625 0.53079791 0.24436671 0.84362158 0.18491182
 0.39024846 0.43636089 0.09358077 0.03127819 0.56319771 0.28344517
 0.24464528 0.29759783 0.31730156 0.22611438 0.97571139 0.66143327
 0.40287303 0.14967313 0.44717836 0.43624475 0.7007324  0.04774976
 0.54482942 0.91957383 0.44859582 0.84196676 0.94004302 0.16012965]
0.4403993365600219

13) Создать матрицу с 0 внутри, и 1 на границах

In [14]:
np.matrix([[1, 1 ,1], [1, 0, 1], [1, 1, 1]])

matrix([[1, 1, 1],
        [1, 0, 1],
        [1, 1, 1]])

14) Создать 8x8 матрицу и заполнить её в шахматном порядке, не используя функцию tile

In [15]:
np.fromfunction(lambda x,y:(x+y)%2, shape=(8,8))

array([[0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.]])

15) Создать 8x8 матрицу и заполнить её в шахматном порядке, используя функцию tile

In [16]:
np.tile([0, 1], (4,4))

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [0, 1, 0, 1, 0, 1, 0, 1]])

16) Перемножить матрицы размеров 5x3 и 3x2

In [17]:
a = np.random.random((5,3))
b = np.random.random((3,2))
a.dot(b)

array([[1.03557688, 1.28929236],
       [0.68505557, 0.58036287],
       [1.0705115 , 1.29624067],
       [0.8931194 , 0.97263154],
       [1.38141763, 1.88315064]])

17) Дан массив, поменять знак у элементов, значения которых между 3 и 8

In [18]:
a = np.arange(0,10,0.1)
a[(a>=3)&(a<=8)] *= -1
a

array([ 0. ,  0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,
        1.1,  1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,
        2.2,  2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9, -3. , -3.1, -3.2,
       -3.3, -3.4, -3.5, -3.6, -3.7, -3.8, -3.9, -4. , -4.1, -4.2, -4.3,
       -4.4, -4.5, -4.6, -4.7, -4.8, -4.9, -5. , -5.1, -5.2, -5.3, -5.4,
       -5.5, -5.6, -5.7, -5.8, -5.9, -6. , -6.1, -6.2, -6.3, -6.4, -6.5,
       -6.6, -6.7, -6.8, -6.9, -7. , -7.1, -7.2, -7.3, -7.4, -7.5, -7.6,
       -7.7, -7.8, -7.9, -8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,
        8.8,  8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,
        9.9])

18) Создать 5x5 матрицу со значениями в строках от 0 до 4

In [19]:
np.tile(range(5), (5,1))

array([[0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4]])

19) Создать вектор размера 10 со значениями от 0 до 1, не включая ни то, ни другое

In [20]:
np.linspace(0,1,10+2)[1:-1]

array([0.09090909, 0.18181818, 0.27272727, 0.36363636, 0.45454545,
       0.54545455, 0.63636364, 0.72727273, 0.81818182, 0.90909091])

20) Дан массив 10x2 (точки в декартовой системе координат), преобразовать в полярную

In [21]:
def kek(x,y):
    r = np.sqrt(x**2 + y**2)
    a = np.arctan(y/x)
    return r, a

a = np.random.random((10,2))
print(a)
b = np.array([kek(*el) for el in a])
b

[[0.33647071 0.00101747]
 [0.17114252 0.85228622]
 [0.22883849 0.78339458]
 [0.74027717 0.36604864]
 [0.0750037  0.34881488]
 [0.06203692 0.24265821]
 [0.03841557 0.7560211 ]
 [0.15918265 0.90600252]
 [0.307601   0.82387508]
 [0.66952011 0.9493499 ]]

array([[0.33647225, 0.00302395],
       [0.86929946, 1.37262776],
       [0.81613364, 1.28659239],
       [0.82583407, 0.45921794],
       [0.35678757, 1.35899688],
       [0.25046275, 1.3205019 ],
       [0.75699647, 1.52002716],
       [0.91988025, 1.39687367],
       [0.87942511, 1.21346531],
       [1.16168947, 0.95656183]])

21) Заменить максимальный элемент на ноль

In [22]:
a = np.random.random((10,1))
# a[a == a.max()] = 0
amax = a.max()
a[a == amax] = 0
a

array([[0.        ],
       [0.48008225],
       [0.09691337],
       [0.67669918],
       [0.13230028],
       [0.25383442],
       [0.6135872 ],
       [0.4462201 ],
       [0.40464076],
       [0.68022565]])

22) Из двух массивов сделать матрицу Коши $C (C_{ij} = \frac{1}{x_i - y_j})$

In [23]:
a = np.random.random((5,5))
b = np.random.random((5,5))
print(f'{a}\n\n{b}')

c = 1/(a-b)
c

[[0.10544604 0.24643468 0.13595163 0.98969038 0.38102763]
 [0.63701904 0.89197389 0.75691832 0.25809998 0.97150108]
 [0.45961995 0.99272777 0.90546854 0.76261664 0.08742703]
 [0.29575987 0.24306335 0.1495259  0.58460238 0.90516403]
 [0.41669105 0.30039102 0.7437583  0.96737753 0.64626145]]

[[0.68544075 0.15892573 0.3192564  0.86629246 0.44092601]
 [0.74427785 0.70215053 0.82550461 0.16726233 0.18339896]
 [0.56518878 0.98124646 0.02563293 0.74302479 0.74045566]
 [0.06402248 0.1662406  0.62094512 0.5292374  0.44208111]
 [0.19129111 0.90693489 0.11146265 0.7380098  0.02641724]]

array([[ -1.72415364,  11.42740206,  -5.45539539,   8.10386421,
        -16.69494179],
       [ -9.32324366,   5.26805541, -14.58017523,  11.00865148,
          1.2688711 ],
       [ -9.47249308,  87.09806159,   1.13657595,  51.0416088 ,
         -1.53132643],
       [  4.31522937,  13.0169779 ,  -2.12125418,  18.06195962,
          2.15944049],
       [  4.43655832,  -1.64868536,   1.58153863,   4.35981128,
          1.61330861]])

23) Преобразовать массив из float в int

In [24]:
a = np.arange(10, dtype=float)
# a = np.array(a, dtype=int)
a = a.astype('int')
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

24) Случайно расположить p элементов в 2D массив

In [25]:
# ?
a = np.arange(9).reshape((3,3))
print(a)
np.random.shuffle(a)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

25) Отнять среднее из каждой строки в матрице

In [26]:
a = np.arange(9).reshape((3,3))
# b = np.zeros((3,3))
print(a)
amean = a.mean(axis=1)
amean = amean.astype(a.dtype)
for i in range(len(amean)):
#     b[i] = a[i] - amean[i]
    a[i] -= amean[i]
# print(b)
a

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[-1,  0,  1],
       [-1,  0,  1],
       [-1,  0,  1]])

26) Найти диагональные элементы произведения матриц

In [27]:
# ?
a = np.random.random((5,3))
b = np.random.random((3,2))
c = a.dot(b)
print(c)
c.diagonal()

[[0.36539209 0.21657691]
 [1.09784062 0.67171148]
 [0.66218001 0.35472798]
 [1.09186669 0.6657433 ]
 [0.62727352 0.38501514]]

array([0.36539209, 0.67171148])

27) Дан вектор [1, 2, 3, 4, 5], построить новый вектор с тремя нулями между каждым значением

In [28]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([[0,0,0, x] for x in a[1:]])
b = np.concatenate((a[0:1], b.flatten()))
b

array([1, 0, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 4, 0, 0, 0, 5])

### Разреженные матрицы

<img src='../../../img/trainings.png'/>

1) Соберите из предложенной таблички csr-матрицу.
Дана таблица посещений пользователями сайтов.
Строки - описание сессий в интернете для пользователей. Польозватели закодированы числами(1-2-3) в столбце target. Сайты закодированы числами от 1 до 11. Нам не важно, что это были за сайты, при этом 0 - это не сайт, а отсутствие данных, когда за сессию было посещено менее 10 сайтов. 
Задача - собрать матрицу с частотными описаниями предпочтений пользователей, в которой для каждого сайта указывалось бы, сколько раз пользователь на него вообще заходил за все свои сессии.

Насколько эффективнее sparse матрица будет при количестве разных сайтов 10000? При количестве пользователей 1000?

In [97]:
import pandas as pd
data = pd.read_csv('../../../data/train_data_3users.csv')
print(data)
data.drop('session_id', axis=1, inplace=True)

   session_id  site1  site2  site3  site4  site5  site6  site7  site8  site9  \
0           0      1      2      2      3      2      4      5      6      7
1           1      1      4      4      4      0      0      0      0      0
2           2      1      2      9      9      2      0      0      0      0
3           3     10      4      2      4      2      4      4      6     11
4           4     10      4      2      0      0      0      0      0      0

   site10  target
0       8       1
1       0       1
2       0       2
3      10       3
4       0       3

In [98]:
import scipy.sparse
data2 = scipy.sparse.csr_matrix(data.values)

In [99]:
# print(data.shape)
# print(data.columns)
print(data)
# print(data[data['target'] == 1])
data.groupby(['target']).sum()

   site1  site2  site3  site4  site5  site6  site7  site8  site9  site10  \
0      1      2      2      3      2      4      5      6      7       8
1      1      4      4      4      0      0      0      0      0       0
2      1      2      9      9      2      0      0      0      0       0
3     10      4      2      4      2      4      4      6     11      10
4     10      4      2      0      0      0      0      0      0       0

   target
0       1
1       1
2       2
3       3
4       3

        site1  site2  site3  site4  site5  site6  site7  site8  site9  site10
target
1           2      6      6      7      2      4      5      6      7       8
2           1      2      9      9      2      0      0      0      0       0
3          20      8      4      4      2      4      4      6     11      10

In [104]:
#TODO: same as cell above but with CSR matrix
# print(data.values)
# print(data2)

In [105]:
# Насколько эффективнее sparse матрица будет при количестве разных сайтов 10000? При количестве пользователей 1000?
# хз

2) Создать 2 случайные матрицы размерами 10х10 с долей ненулевых элементов не более 10% и перемножить в их в csr и numpy формате. Сравнить время

In [87]:
aa = np.random.random((100,100))
bb = np.random.random((100,100))
a = pd.DataFrame(aa)
b = pd.DataFrame(bb)
a = scipy.sparse.csr_matrix(a)
b = scipy.sparse.csr_matrix(b)

In [90]:
%%time
# a.dot(b)
a@b

CPU times: user 3.85 ms, sys: 1.49 ms, total: 5.34 ms
Wall time: 3.17 ms

<100x100 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [91]:
%%time
aa@bb

CPU times: user 868 µs, sys: 275 µs, total: 1.14 ms
Wall time: 342 µs

array([[22.24236386, 22.63473077, 21.39263237, ..., 22.87228506,
        21.26509438, 24.48633041],
       [23.99206117, 24.21784422, 24.19754456, ..., 25.80293803,
        21.76081225, 25.25845849],
       [24.22326441, 26.22864932, 26.10385144, ..., 27.74719486,
        24.04605176, 25.9333301 ],
       ...,
       [24.22974408, 24.22923179, 23.8111057 , ..., 24.14713762,
        22.54511467, 23.37174163],
       [23.06761463, 23.29821027, 23.75907779, ..., 24.48495787,
        21.48435501, 23.70465004],
       [27.07281062, 28.77584689, 27.3942598 , ..., 30.77051826,
        25.0497153 , 29.15177018]])

### PANDAS

<img src='../../../img/trainings2.jpg'/>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [108]:
import pandas as pd
# чтоб картинки рисовались в тетрадке
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (10, 8)

In [109]:
data = pd.read_csv('../../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [111]:
print(data.shape)
data.info()

(32561, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

1) Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?

In [112]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

2) Каков средний возраст (признак *age*) женщин?

In [116]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

3) Постройте гистограмму распределения (*bar plot*) образования людей (признак *education*).

4) Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год?

In [134]:
data['salary'].value_counts()
more50k = (data['salary'] == '>50K')
under50k = (data['salary'] == '<=50K')
mm = data[more50k]['age'].mean()
ms = data[more50k]['age'].std()
um = data[under50k]['age'].mean()
us = data[under50k]['age'].std()
print(f'{mm} {ms} {um} {us}')

44.24984058155847 10.519027719851826 36.78373786407767 14.02008849082488

In [149]:
# another/right way
columns_to_show = ['age']
# data.groupby(['salary'])[columns_to_show].describe()
data.groupby(['salary'])[columns_to_show].agg([np.mean, np.std])

              age
             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

5) Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)

In [167]:
data[more50k]['education'].value_counts()
# high_edu = ('Bachelors' or 'Prof-school' or 'Assoc-acdm' or 'Assoc-voc' or 'Masters' or 'Doctorate')
high_edu = {'Bachelors','Prof-school','Assoc-acdm','Assoc-voc','Masters','Doctorate'}
# high_edu = ['Bachelors','Prof-school','Assoc-acdm','Assoc-voc','Masters','Doctorate']
# data[more50k]['education'].count()
# data[more50k&(data['education'] in high_edu)]
# salary_group = ['>50K', '<=50K']
# data.groupby(['education'])['salary'].describe()

6) Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

7) Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).

###  Графики

<img src='../../../img/trainings.JPG' width=50%>

## Загрузка и знакомство с данными

Для работы вам понадобятся данные из учебного конкурса на kaggle [«Прогноз популярности статьи на Хабре»](https://inclass.kaggle.com/c/howpop-habrahabr-favs-lognorm). Файл **`howpop_train.csv`** уже лежит в нашем репозитории в каталоге **`data`**.

In [168]:
df = pd.read_csv('../../../data/howpop_train.csv')

In [169]:
df.shape

(134137, 17)

In [170]:
df.head(3).T

,0,1,2
url,https://habrahabr.ru/post/18284/,https://habrahabr.ru/post/18285/,https://habrahabr.ru/post/18286/
domain,habrahabr.ru,habrahabr.ru,habrahabr.ru
post_id,18284,18285,18286
published,2008-01-01 18:19:00,2008-01-01 18:30:00,2008-01-01 18:34:00
author,@Tapac,@DezmASter,@DezmASter
flow,develop,design,design
polling,False,False,False
content_len,4305,7344,8431
title,Новогодний подарок блоггерам — WordPress 2.3.2,"Сумасшедшие яйца, или сервис для отслеживания ...","Сумасшедшие яйца, или сервис для отслеживания ..."
comments,0,1,47
favs,0,1,72
views,236,353,1200
votes_plus,0,1,45
votes_minus,0,0,5
views_lognorm,-0.792687,-0.485214,0.44609
favs_lognorm,-1.34407,-0.831946,1.79402
comments_lognorm,-2.43687,-1.87319,0.574656

Избавимся сразу от переменных, названия которых заканчиваются на `_lognorm`. Выберем их с помощью `filter()` и удалим `drop`-ом:

In [36]:
df.drop(filter(lambda c: c.endswith('_lognorm'), df.columns), 
        axis = 1,       # axis = 1: столбцы 
        inplace = True) # избавляет от необходимости сохранять датасет

In [37]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
post_id,134137.0,181307.054265,81766.350702,18284.0,115565.0,182666.0,257401.0,314088.0
content_len,134137.0,7516.929699,8724.771640,1.0,2179.0,4949.0,9858.0,352471.0
comments,134137.0,39.625994,62.398958,0.0,7.0,19.0,48.0,2266.0
favs,134137.0,71.999866,145.854135,0.0,8.0,27.0,78.0,8718.0
views,134137.0,16631.013084,31479.819691,3.0,2100.0,7600.0,18700.0,1730000.0
votes_plus,133566.0,35.536888,42.461073,0.0,11.0,22.0,45.0,1466.0
votes_minus,133566.0,8.050035,11.398282,0.0,2.0,5.0,10.0,445.0

In [38]:
df.describe(include = ['object', 'bool'] # бинарные и категориальные переменные
           ).T

            count  unique                                          top    freq
url        134137  134137            https://habrahabr.ru/post/197184/       1
domain     134137       2                                 habrahabr.ru   97048
published  134137  130291                          2011-06-14 15:52:00      39
author      97657   22077                                      @alizar    5292
flow        97048       6                                      develop   53318
polling    134137       2                                        False  129412
title      134137  133628  Интересные события, произошедшие в выходные      56

In [39]:
# настройка внешнего вида графиков в seaborn
sns.set_style("dark")
sns.set_palette("RdBu")
sns.set_context("notebook", font_scale = 1.5, 
                rc = { "figure.figsize" : (15, 5), "axes.titlesize" : 18 })

Столбец **`published`** (время публикации) содержит строки. Чтобы мы могли работать с этими данными как с датой/временем публикации, приведём их к типу `datetime`:

In [40]:
print(df.published.dtype)
df['published'] = pd.to_datetime(df.published, yearfirst = True)
print(df.published.dtype)

object
datetime64[ns]

Создадим несколько столбцов на основе данных о времени публикации:

In [41]:
df['year'] = [d.year for d in df.published]
df['month'] = [d.month for d in df.published]

df['dayofweek'] = [d.isoweekday() for d in df.published]
df['hour'] = [d.hour for d in df.published]

-----
Теперь Ваша очередь. В каждом пункте предлагается построить картинку и с ее помощью ответить на вопрос. Конечно, можно попытаться ответить на все вопросы только с Pandas, без картинок, но мы будем смотреть на (красивые) визуализации.

#### 1\. В каком месяце (и какого года) было больше всего публикаций?

* март 2016,
* март 2015,
* апрель 2015,
* апрель 2016.

#### 2\. Проанализируйте публикации в этом месяце (из вопроса 1)

Выберите один или несколько вариантов:

* На графике не заметны какие-либо выбросы или аномалии,
* Один или несколько дней сильно выделяются из общей картины,
* На хабре _всегда_ больше статей, чем на гиктаймсе,
* По субботам на гиктаймс и на хабрахабр публикуют примерно одинаковое число статей.

Подсказки: постройте график зависимости числа публикаций от дня; используйте параметр `hue`

#### 3\. Выберите верное утверждение

* Больше всего просмотров (в среднем) набирают статьи, опубликованные в 12 часов дня;
* У опубликованных в 10 утра постов больше всего комментариев  (в среднем);
* Больше всего просмотров  (в среднем) набирают статьи, опубликованные в 6 часов утра;
* Максимальное число комментариев на гиктаймсе набрала статья, опубликованная в 9 часов вечера;
* На хабре дневные статьи комментируют чаще  (в среднем), чем вечерние.

#### 4\. Кого из топ-20 авторов (по числу статей) чаще всего минусуют (в среднем)?

* @Mordatyj
* @Mithgol
* @alizar
* @ilya42

#### 5\. Сравните субботы и понедельники

Правда ли, что по субботам авторы пишут в основном днём, а по понедельникам — в основном вечером?