# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (в репозитории в папке data есть текстовик с ссылкой, выгрузите в эту же папку весь архив, чтобы код работал). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1NPMIal9jOQzBhy3KEc05rqUUMm228im3z5L2KZ-Jv_4/edit?usp=sharing).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('../../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [20]:
# 45530 женщин и 24470 мужчин
print(df.groupby(['gender'])['height'].describe())
# g1_mh = df[df['gender'] == 1]['height'].mean()
# g2_mh = df[df['gender'] == 2]['height'].mean()

# gender_map = {1:'Female', 2:'Male'} if g1_mh < g2_mh else {2:'Female', 1:'Male'}
# df['gender'] = df['gender'].map(gender_map)
# print(df.groupby(['gender'])['height'].describe())

          count        mean       std   min    25%    50%    75%    max
gender
Female  45530.0  161.355612  7.052726  55.0  157.0  161.0  166.0  250.0
Male    24470.0  169.947895  7.228895  65.0  165.0  170.0  175.0  207.0

In [22]:
print(f'{g1_mh=} {g2_mh=} {gender_map=}')
gender_count = df['gender'].value_counts()
print(f'{gender_count[gender_map[1]]=} {gender_count[gender_map[2]]=}')

g1_mh=161.35561168460356 g2_mh=169.94789538210054 gender_map={1: 'Female', 2: 'Male'}
gender_count[gender_map[1]]=45530 gender_count[gender_map[2]]=24470

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [7]:
# женщины
print(df.groupby(['gender'])['alco'].describe())
male_filter = (df['gender'] == 'Male')
female_filter = (df['gender'] == 'Female')
alco_filter = (df['alco'] == 1)
nonalco_filter = df['alco'] == 0
male_alco_amount = df[male_filter&alco_filter].shape[0]
female_alco_amount = df[female_filter&alco_filter].shape[0]
print(f'{male_alco_amount=} {female_alco_amount=}')
print(male_alco_amount / df[df['gender'] == 'Male'].shape[0])
print(female_alco_amount / df[df['gender'] == 'Female'].shape[0])

          count      mean       std  min  25%  50%  75%  max
gender
Female  45530.0  0.025500  0.157639  0.0  0.0  0.0  0.0  1.0
Male    24470.0  0.106375  0.308323  0.0  0.0  0.0  0.0  1.0
male_alco_amount=2603 female_alco_amount=1161
0.10637515324887617
0.02549967054689216

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [8]:
# print(df.groupby(['gender'])['smoke'].agg([np.count_nonzero]))
# Ответ 12
# print((5356 / 24470) / (813 / 45530))
smoke_filter = (df['smoke'] == 1)
male_smoke_amout = df[male_filter&smoke_filter].shape[0]
female_smoke_amout = df[female_filter&smoke_filter].shape[0]
male_amount = df[male_filter].shape[0]
female_amount = df[female_filter].shape[0]
male_smoke_percent = male_smoke_amout / male_amount
female_smoke_percent = female_smoke_amout / female_amount
print(f'{male_smoke_amout=} {female_smoke_amout=}')
print(f'{male_smoke_percent=} {female_smoke_percent=}')
print(f'answer={male_smoke_percent / female_smoke_percent}')

male_smoke_amout=5356 female_smoke_amout=813
male_smoke_percent=0.21888026154474868 female_smoke_percent=0.017856358444981332
answer=12.257833097333833

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [9]:
# df.groupby(['gender'])['age']
days_per_year = 365

smokers_mean_age = df[smoke_filter]['age'].median()
nonsmokers_mean_age = df[smoke_filter == False]['age'].median()

print(f'{smokers_mean_age=} {nonsmokers_mean_age=}')
print(f'answer={abs(smokers_mean_age-nonsmokers_mean_age) / (days_per_year / 12)}')

smokers_mean_age=19125.0 nonsmokers_mean_age=19722.0
answer=19.627397260273973

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [10]:
df['age_years'] = df['age'] / days_per_year

In [11]:
years_filter = (df['age_years'] >= 60)&(df['age_years']<=64)
chole_4mol_filter = df['cholesterol'] == 1
chole_8mol_filter = df['cholesterol'] == 3
ap_hi_under120_filter = df['ap_hi'] < 120
ap_hi_160to180_filter = (df['ap_hi'] >= 160) &(df['ap_hi'] < 180)
group1 = df[years_filter&smoke_filter&chole_4mol_filter&ap_hi_under120_filter].shape[0]
group2 = df[years_filter&smoke_filter&chole_8mol_filter&ap_hi_160to180_filter].shape[0]
print(f'4 mol <120={group1}')
print(f'8 mol 160<=x<180={group2}')
print(f'answer={round(group1/group2)}')

4 mol <120=52
8 mol 160<=x<180=18
answer=3

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [12]:
df['BMI'] = df['weight'] / (df['height'] / 100) ** 2

In [13]:
df['BMI'].head()
# df['BMI'].describe()

if (18.5 <= df['BMI'].median() < 25) == False:
    print(f'Медианный {df["BMI"].median()} BMI по выборке превышает норму')
else: print(f'Медианный {df["BMI"].median()} BMI по выборке не превышает норму')
male_mean_bmi = df[male_filter]['BMI'].mean()
female_mean_bmi = df[female_filter]['BMI'].mean()

if female_mean_bmi < male_mean_bmi:
    print(f'У женщин в среднем BMI {female_mean_bmi} ниже, чем у мужчин {male_mean_bmi}')
# else:
#     print(f'У женщин в среднем BMI {female_mean_bmi} выше, чем у мужчин {male_mean_bmi}')
    
healthy_filter = df['cardio'] == 0
healthy_peoples_mean_bmi = df[healthy_filter]['BMI'].mean()
unhealthy_peoples_mean_bmi = df[healthy_filter == False]['BMI'].mean()

if healthy_peoples_mean_bmi > unhealthy_peoples_mean_bmi:
    print(f'У здоровых в среднем BMI {healthy_peoples_mean_bmi} выше, чем у больных {unhealthy_peoples_mean_bmi}')
# else:
#     print(f'У здоровых в среднем BMI {healthy_peoples_mean_bmi} ниже, чем у больных {unhealthy_peoples_mean_bmi}')

healty_nonalco_male_mean_bmi = df[male_filter&healthy_filter&nonalco_filter]['BMI'].mean()
healty_nonalco_female_mean_bmi = df[female_filter&healthy_filter&nonalco_filter]['BMI'].mean()

low_healty_bmi = 18.5
print(f'{healty_nonalco_male_mean_bmi=} {healty_nonalco_female_mean_bmi=}')
if abs(healty_nonalco_male_mean_bmi - low_healty_bmi) < abs(healty_nonalco_female_mean_bmi - low_healty_bmi):
    print('В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин')
# else:
#     print('В сегменте здоровых и непьющих мужчин в среднем BMI не ближе к норме, чем в сегменте здоровых и непьющих женщин')

Медианный 26.374068120774975 BMI по выборке превышает норму
healty_nonalco_male_mean_bmi=25.87263807546017 healty_nonalco_female_mean_bmi=26.845406594131507
В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [14]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,Male,168,62.0,110,80,1,1,0,0,1,0,50.391781,21.967120
1,20228,Female,156,85.0,140,90,3,1,0,0,1,1,55.419178,34.927679
2,18857,Female,165,64.0,130,70,3,1,0,0,0,1,51.663014,23.507805
3,17623,Male,169,82.0,150,100,1,1,0,0,1,1,48.282192,28.710479
4,17474,Female,156,56.0,100,60,1,1,0,0,0,0,47.873973,23.011177

In [15]:
cdf = df
cdf.shape

(70000, 14)

In [16]:
drop_ind = cdf[cdf['ap_hi'] < cdf['ap_lo']].index
cdf = cdf.drop(drop_ind)
cdf.shape

(68766, 14)

In [17]:
height_quantile025 = cdf['height'].quantile(0.025)
height_quantile975 = cdf['height'].quantile(0.975)
drop_ind = cdf[(cdf['height'] < height_quantile025) | (cdf['height'] > height_quantile975)].index
cdf = cdf.drop(drop_ind)
cdf.shape

(65859, 14)

In [18]:
weight_quantile025 = cdf['weight'].quantile(0.025)
weight_quantile975 = cdf['weight'].quantile(0.975)
drop_ind = cdf[(cdf['weight'] < weight_quantile025)|(cdf['weight'] > weight_quantile975)].index
cdf = cdf.drop(drop_ind)
cdf.shape

(62784, 14)

In [19]:
print(f'answer={100 - round((cdf.shape[0] / df.shape[0]) * 100)}')

answer=10